<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_label</key>
	<false/>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_additional</key>
	<string>percentage</string>
	<key>Battery_battery_chargerInside</key>
	<true/>
	<key>Battery_battery_color</key>
	<true/>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<true/>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_battery_xlSize</key>
	<false/>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>1</integer>
	<key>Battery_oneView</key>
	<true/>
	<key>Battery_processes</key>
	<integer>8</integer>
	<key>Battery_timeFormat</key>
	<string>long</string>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini,line_chart</string>
	<key>Clock_list</key>
	<data>
	W3sibmFtZSI6IkxvY2FsIFRpbWUiLCJlbmFibGVkIjp0cnVlLCJpZCI6IjJGN0JDODQ4
	LTMwNEUtNDIyNy1CMkQ0LTFBRjRDRTVBNDg3OCIsImZvcm1hdCI6IkhIOm1tOnNzIiwi
	dHoiOiJsb2NhbCJ9XQ==
	</data>
	<key>Clock_state</key>
	<true/>
	<key>Disk_barChart_position</key>
	<integer>2</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>3</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_iconAlignment</key>
	<string>left</string>
	<key>Disk_speed_iconColor</key>
	<string>default</string>
	<key>Disk_speed_position</key>
	<integer>0</integer>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>speed</string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_oneView</key>
	<true/>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>mini,line_chart</string>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>156</real>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>274</real>
	<key>NSStatusItem Preferred Position Clock_sensors</key>
	<real>202</real>
	<key>NSStatusItem Preferred Position Disk_speed</key>
	<real>522</real>
	<key>NSStatusItem Preferred Position GPU</key>
	<real>359</real>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<real>593</real>
	<key>NSStatusItem Preferred Position RAM_memory</key>
	<real>444</real>
	<key>Network_reader</key>
	<string>process</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>RAM_barChart_position</key>
	<integer>5</integer>
	<key>RAM_label_position</key>
	<integer>4</integer>
	<key>RAM_lineChart_position</key>
	<integer>1</integer>
	<key>RAM_memory_orderReversed</key>
	<false/>
	<key>RAM_memory_position</key>
	<integer>0</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_pieChart_position</key>
	<integer>2</integer>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>memory</string>
	<key>Sensors_state</key>
	<false/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>version</key>
	<string>3.0.14</string>
</dict>
</plist>
